<%= link_to 'Your Bio', user_bios_path(current_user) %>
<hr>
<%= link_to 'New Post', new_post_path %>
<ul>
  <% @posts.reverse.each do |post| %>
    <%= post.user.email %>
    <li>
      <%= link_to post.content, post %>
    </li>
    <%= post.created_at.strftime("%m/%d/%Y at %I:%M %p") %>
    <br>
  <% end %>
</ul>